<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование списка задач &laquo;[[${database_group.name}]]&raquo; &ndash; The Updater</title>
</head>
<body>
<form data-th-action="@{/}" method="get">
    <button type="submit">&larr; На главную страницу</button>
</form>
<br/>
<form data-th-action="@{/database_groups/list}" method="get">
    <button type="submit">&larr; К спискам задач</button>
</form>

<h1>Редактирование списка задач &laquo;[[${database_group.name}]]&raquo;</h1>

<div data-th-if="${errors}">
    <h2>Допущены ошибки</h2>
    <ul>
        <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
    </ul>
</div>

<form data-th-action="@{/database_groups/{databaseGroupId}/edit(databaseGroupId=${database_group.id})}" method="post">
    <table>
        <thead>
        <tr>
            <th>ПАРАМЕТР</th>
            <th>ЗНАЧЕНИЕ</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><strong>ID</strong></td>
            <td>
                <label>
                    <input data-th-value="${database_group.id}" name="id" type="text">
                </label>
            </td>
        </tr>
        <tr>
            <td><strong>Имя</strong></td>
            <td>
                <label>
                    <input data-th-value="${payload != null ? payload.name : database_group.name}" name="name"
                           type="text">
                </label>
            </td>
        </tr>
        <tr>
            <td><strong>Описание</strong></td>
            <td>
                <label>
                    <textarea data-th-text="${payload != null ? payload.description : database_group.description}"
                              name="description"></textarea>
                </label>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
    <button type="submit">Сохранить</button>
</form>

<br/>
<form data-th-action="@{/database_groups/{databaseGroupId}(databaseGroupId=${database_group.id})}" method="get">
    <button type="submit">Отменить</button>
</form>

</body>
</html>