<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Списки задач &ndash; The Updater</title>
</head>
<body>
<form data-th-action="@{/}" method="get">
    <button type="submit">&larr; На главную страницу</button>
</form>

<h1>Списки задач</h1>

<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Список задач</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="task_list : ${task_lists}">
        <td data-th-text="${task_list.id}"></td>
        <td>
            <a data-th-href="@{/task_lists/{taskListId}(taskListId=${task_list.id})}"
               data-th-text="${task_list.name}"></a>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<form data-th-action="@{/task_lists/create}" method="get">
    <button type="submit">Добавить список задач</button>
</form>
</body>
</html>