<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${task_list.name}]] &ndash; The Updater</title>
</head>
<body>
<form data-th-action="@{/}" method="get">
    <button type="submit">&larr; На главную страницу</button>
</form>
<br/>
<form data-th-action="@{/task_lists/list}" method="get">
    <button type="submit">&larr; К спискам задач</button>
</form>

<h1>Просмотр списка задач &laquo;[[${task_list.name}]]&raquo;</h1>

<table>
    <thead>
    <tr>
        <th>ПАРАМЕТР</th>
        <th>ЗНАЧЕНИЕ</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><strong>ID</strong></td>
        <td><span data-th-text="${task_list.id}"></span></td>
    </tr>
    <tr>
        <td><strong>Имя</strong></td>
        <td><span data-th-text="${task_list.name}"></span></td>
    </tr>
    <tr>
        <td><strong>Статус</strong></td>
        <td><span data-th-text="${task_list.status}"></span></td>
    </tr>
    <tr>
        <td><strong>Описание</strong></td>
        <td><span data-th-text="${task_list.description}"></span></td>
    </tr>
    </tbody>
</table>
<br/>
<form data-th-action="@{/task_lists/{taskListId}/edit(taskListId=${task_list.id})}" method="get">
    <button type="submit">Изменить</button>
</form>
<br/>
<form data-th-action="@{/task_lists/{taskListId}/delete(taskListId=${task_list.id})}" method="post">
    <button type="submit">Удалить</button>
</form>

</body>
</html>