<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новая база данных &ndash; The Updater</title>
</head>
<body>
<form data-th-action="@{/}" method="get">
    <button type="submit">&larr; На главную страницу</button>
</form>

<h1>Новая база данных</h1>

<div data-th-if="${errors}">
    <h2>Допущены ошибки</h2>
    <ul>
        <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
    </ul>
</div>

<form data-th-action="@{/databases/create}" method="post">

    <table>
        <thead>
        <tr>
            <th>ПАРАМЕТР</th>
            <th>ЗНАЧЕНИЕ</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Имя</td>
            <td>
                <label>
                    <input data-th-value="${payload?.name}" name="name" type="text">
                </label>
            </td>
        </tr>
        <tr>
            <td>Адрес</td>
            <td>
                <label>
                    <input data-th-text="${payload?.url}" name="url" type="text">
                </label>
            </td>
        </tr>
        <tr>
            <td>Порт</td>
            <td>
                <label>
                    <input data-th-text="${payload?.port}" name="port" type="text">
                </label>
            </td>
        </tr>
        <tr>
            <td>Логин</td>
            <td>
                <label>
                    <input data-th-text="${payload?.login}" name="login" type="text">
                </label>
            </td>
        </tr>
        <tr>
            <td>Пароль</td>
            <td>
                <label>
                    <input data-th-text="${payload?.password}" name="password" type="text">
                </label>
            </td>
        </tr>
        <tr>
            <td>Прод?</td>
            <td>
                <label>
                    <input data-th-text="${payload?.isProd}" name="isProd" type="text">
                </label>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
    <button type="submit">Создать</button>
</form>
<br/>
<form data-th-action="@{/databases/list}" method="get">
    <button type="submit">Отменить</button>
</form>

</body>
</html>