<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование базы данных &laquo;[[${database.name}]]&raquo; &ndash; The Updater</title>
</head>
<body>
<form data-th-action="@{/}" method="get">
    <button type="submit">&larr; На главную страницу</button>
</form>
<br/>
<form data-th-action="@{/databases/list}" method="get">
    <button type="submit">&larr; К списку баз данных</button>
</form>

<h1>Редактирование базы данных &laquo;[[${database.name}]]&raquo;</h1>

<div data-th-if="${errors}">
    <h2>Допущены ошибки</h2>
    <ul>
        <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
    </ul>
</div>

<form data-th-action="@{/databases/{databaseId}/edit(databaseId=${database.id})}" method="post">

    <table>
        <thead>
        <tr>
            <th>ПАРАМЕТР</th>
            <th>ЗНАЧЕНИЕ</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><strong>ID</strong></td>
            <td>
                <label>
                    <input data-th-value="${database.id}" name="id" type="text">
                </label>
            </td>
        </tr>
        <tr>
            <td><strong>Имя</strong></td>
            <td>
                <label>
                    <input data-th-value="${payload != null ? payload.name : database.name}" name="name" type="text">
                </label>
            </td>
        </tr>
        <tr>
            <td><strong>Адрес</strong></td>
            <td>
                <label>
                    <input data-th-value="${payload != null ? payload.url : database.url}" name="url" type="text">
                </label>
            </td>
        </tr>
        <tr>
            <td><strong>Порт</strong></td>
            <td>
                <label>
                    <input data-th-value="${payload != null ? payload.port : database.port}" name="port" type="text">
                </label>
            </td>
        </tr>
        <tr>
            <td><strong>Логин</strong></td>
            <td>
                <label>
                    <input data-th-value="${payload != null ? payload.login : database.login}" name="login" type="text">
                </label>
            </td>
        </tr>
        <tr>
            <td><strong>Пароль</strong></td>
            <td>
                <label>
                    <input data-th-value="${payload != null ? payload.password : database.password}" name="password"
                           type="text">
                </label>
            </td>
        </tr>
        <tr>
            <td><strong>Прод?</strong></td>
            <td>
                <label>
                    <input data-th-value="${payload != null ? payload.isProd : database.isProd}" name="isProd"
                           type="text">
                </label>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
    <button type="submit">Сохранить</button>
</form>
<br/>
<form data-th-action="@{/databases/{databaseId}(databaseId=${database.id})}" method="get">
    <button type="submit">Отменить</button>
</form>

</body>
</html>