<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список баз данных &ndash; The Updater</title>
</head>
<body>
<form data-th-action="@{/}" method="get">
    <button type="submit">&larr; На главную страницу</button>
</form>

<h1>Базы данных</h1>

<table>
    <thead>
    <tr>
        <th>#</th>
        <th>База данных</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="database : ${databases}">
        <td data-th-text="${database.id}"></td>
        <td>
            <a data-th-href="@{/databases/{databaseId}(databaseId=${database.id})}"
               data-th-text="${database.name}"></a>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<form data-th-action="@{/databases/create}" method="get">
    <button type="submit">Добавить базу данных</button>
</form>
</body>
</html>