<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${database.name}]] &ndash; The Updater</title>
</head>
<body>
<a data-th-href="@{/}">&larr; На главную страницу</a>
<br/>
<br/>
<a data-th-href="@{/databases/list}">&larr; К списку баз данных</a>
<h1 data-th-text="${database.name}"></h1>
<ul>
    <li><strong>ID</strong>: <span data-th-text="${database.id}"></span></li>
    <li><strong>Имя</strong>: <span data-th-text="${database.name}"></span></li>
    <li><strong>Адрес</strong>: <span data-th-text="${database.url}"></span></li>
    <li><strong>Порт</strong>: <span data-th-text="${database.port}"></span></li>
    <li><strong>Логин</strong>: <span data-th-text="${database.login}"></span></li>
    <li><strong>Пароль</strong>: <span data-th-text="${database.password}"></span></li>
    <li><strong>Прод?</strong>: <span data-th-text="${database.isProd}"></span></li>
</ul>
<a data-th-href="@{/databases/{databaseId}/edit(databaseId=${database.id})}">Изменить</a>
<form method="post" data-th-action="@{/databases/{databaseId}/delete(databaseId=${database.id})}">
    <button type="submit">Удалить</button>
</form>
</body>
</html>