<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${database.name}]] &ndash; The Updater</title>
</head>
<body>
<form data-th-action="@{/}" method="get">
    <button type="submit">&larr; На главную страницу</button>
</form>
<br/>
<form data-th-action="@{/databases/list}" method="get">
    <button type="submit">&larr; К списку баз данных</button>
</form>

<h1>Просмотр БД &laquo;[[${database.name}]]&raquo;</h1>

<table>
    <thead>
    <tr>
        <th>ПАРАМЕТР</th>
        <th>ЗНАЧЕНИЕ</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><strong>ID</strong></td>
        <td><span data-th-text="${database.id}"></span></td>
    </tr>
    <tr>
        <td><strong>Имя</strong></td>
        <td><span data-th-text="${database.name}"></span></td>
    </tr>
    <tr>
        <td><strong>Адрес</strong></td>
        <td><span data-th-text="${database.url}"></span></td>
    </tr>
    <tr>
        <td><strong>Порт</strong></td>
        <td><span data-th-text="${database.port}"></span></td>
    </tr>
    <tr>
        <td><strong>Логин</strong></td>
        <td><span data-th-text="${database.login}"></span></td>
    </tr>
    <tr>
        <td><strong>Пароль</strong></td>
        <td><span data-th-text="${database.password}"></span></td>
    </tr>
    <tr>
        <td><strong>Прод?</strong></td>
        <td><span data-th-text="${database.isProd}"></span></td>
    </tr>
    </tbody>
</table>
<br/>
<form data-th-action="@{/databases/{databaseId}/edit(databaseId=${database.id})}" method="get">
    <button type="submit">Изменить</button>
</form>
<br/>
<form data-th-action="@{/databases/{databaseId}/delete(databaseId=${database.id})}" method="post">
    <button type="submit">Удалить</button>
</form>

</body>
</html>